.allcards{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.homebox{
    background-color: black;
    background-repeat: repeat   ;
    height: 100%;
    width: 100%;
}
.cards {
    background-color: #e9e9e9;
    width: 400px;
    height: 13rem;
    box-shadow: 0 0 20px #a79696;
    margin: 15px;
    display: flex;
    border-radius: 5px;
}
.leftcard{
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.leftcard img{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.rightcard{
    margin:auto;
    width: 70%;
    height: 80%;
}
.rightinside{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.rightcard h3{
    text-decoration: none;
    padding-left: 30px;
}
.rightinside p{
    color: black;
    font-weight: 600;
    font-size: 18px;
}